h1 {color:red;}
.yellowparagraph {color:yellow;}
.top p{color:green;}
p{color:blue;}
.bottom p{color:pink;}
h2 {color:blueviolet;}
h3 {color:purple;}
h4 {color: Deeppink;}
h5 {color:red;}
li {color:pink;}
div {color:blue;}
